@import "mixin";
@import "fonts";
@import "buttons";


* {
	box-sizing: border-box;
}



.wrp {
	position: relative;
}


.container {
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 20px;
	padding-left: 20px;
}



.d-none {
	display: none !important;
}

.d-flex {
	display: flex;
}

.d-block {
	display: block;
}

.d-desktop-none {
	display: none;
	@include r(767) {
		display: block;
	}
}

.d-mobile-none {
	display: block;
	@include r(767) {
		display: none !important;
	}
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.main{

}




@import "componets/header";




